In [27]:
# Importar librerias para el analisis y la visualizacion
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configuracion estetica de los graficos

sns.set(style="whitegrid")

plt.rcParams["figure.figsize"]=(12,7)

print("Entorno listo")

Entorno listo

In [28]:
# Cargar datos
ruta_archivo = ('../data/raw/ACCIDENTES_DE_TRANSITO_DESDE_MARZO__2017_A_DICIEMBRE_DE_2022_20250527 (1).csv')
df = pd.read_csv(ruta_archivo,sep=';')

#Mostrar las primeras filas
df.head()

   ORDEN        IPAT                    FECHA   AÑO  MES     DIA     GRAVEDAD
0      1  A000057026  2017-03-16T00:00:00.000  2017    3  jueves  CON HERIDOS
1      2  A000057029  2017-03-14T00:00:00.000  2017    3  martes  CON HERIDOS
2      3  A000057030  2017-03-14T00:00:00.000  2017    3  martes  CON HERIDOS
3      4  A000057022  2017-03-14T00:00:00.000  2017    3  martes   SOLO DAÑOS
4      5  A000056976  2017-03-14T00:00:00.000  2017    3  martes   SOLO DAÑOS

In [29]:
print("Informacion general del dataframe")
df.info()

Informacion general del dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1724 entries, 0 to 1723
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ORDEN     1724 non-null   int64
 1   IPAT      1724 non-null   object
 2   FECHA     1724 non-null   object
 3   AÑO       1724 non-null   int64
 4   MES       1724 non-null   int64
 5   DIA       1724 non-null   object
 6   GRAVEDAD  1724 non-null   object
dtypes: int64(3), object(4)
memory usage: 94.4+ KB

In [30]:
print("Estadisticas basicas de los datos")
df.describe()

Estadisticas basicas de los datos

             ORDEN          AÑO          MES
count  1724.000000  1724.000000  1724.000000
mean    862.500000  2019.316125     6.237819
std     497.820249     1.656642     3.306591
min       1.000000  2017.000000     1.000000
25%     431.750000  2018.000000     3.000000
50%     862.500000  2019.000000     6.000000
75%    1293.250000  2021.000000     9.000000
max    1724.000000  2022.000000    12.000000

In [31]:
print("Validar si contiene valores nulos")
df.isnull().sum()

Validar si contiene valores nulos

ORDEN       0
IPAT        0
FECHA       0
AÑO         0
MES         0
DIA         0
GRAVEDAD    0
dtype: int64

In [32]:
print("Revisar si tiene valores unicos y detectar columnas poca utiles")
df.nunique()

Revisar si tiene valores unicos y detectar columnas poca utiles

ORDEN       1724
IPAT        1724
FECHA        222
AÑO            6
MES           12
DIA            6
GRAVEDAD       3
dtype: int64

In [33]:
df.columns

Index(['ORDEN', 'IPAT', 'FECHA', 'AÑO', 'MES', 'DIA', 'GRAVEDAD'], dtype='object')

In [34]:
df.columns = df.columns.str.strip().str.upper().str.replace(' ', '_').str.replace('Á', 'A').str.replace('É', 'E').str.replace('Í', 'I').str.replace('Ó', 'O').str.replace('Ú', 'U')

In [35]:
df.columns.tolist()

['ORDEN', 'IPAT', 'FECHA', 'AÑO', 'MES', 'DIA', 'GRAVEDAD']

In [36]:
df['FECHA'] = pd.to_datetime(df['FECHA'], errors='coerce')

In [39]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1719    False
1720    False
1721    False
1722    False
1723    False
Length: 1724, dtype: bool

In [38]:
df = df.drop_duplicates()
print(f"se ha eliminado : \n {df} \n datos duplicados")

se ha eliminado :
       ORDEN        IPAT      FECHA   AÑO  MES     DIA     GRAVEDAD
0         1  A000057026 2017-03-16  2017    3  jueves  CON HERIDOS
1         2  A000057029 2017-03-14  2017    3  martes  CON HERIDOS
2         3  A000057030 2017-03-14  2017    3  martes  CON HERIDOS
3         4  A000057022 2017-03-14  2017    3  martes   SOLO DAÑOS
4         5  A000056976 2017-03-14  2017    3  martes   SOLO DAÑOS
...     ...         ...        ...   ...  ...     ...          ...
1719   1720  A001460191 2022-12-19  2022   12   lunes  CON HERIDOS
1720   1721  A001460190 2022-12-19  2022   12   lunes  CON HERIDOS
1721   1722  A001460186 2022-12-19  2022   12   lunes  CON HERIDOS
1722   1723  A001460187 2022-12-19  2022   12   lunes  CON HERIDOS
1723   1724  A001460189 2022-12-19  2022   12   lunes  CON HERIDOS

[1724 rows x 7 columns]
 datos duplicados

In [ ]:
# Eliminar filas donde la columna FECHA sea nula